body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Hero, sans-serif;
}

* {
  border: red solid 1px;
}

.header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #1F2937;
    padding: 12px;
   
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-right: 390px;
}

.logo {
  display: Flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

ul {
    display: flex;
    margin: 0;
    padding-right: inherit;
    list-style-type: none;
    background-position: 100%;
    text-align: right;
  }



  .image {
    background-color: grey;
    color: #F9FAF8;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 200px;
    margin: 5px;
    width: 400px;
  }

  .awesome-container {
    display: flex;
    flex-direction: row;
    align-self: center;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 250px; 
  }

  .about-section {
    color: #E5E7EB;
    font-size: 18px;
  }

  .section-title {
    font-family: Hero, sans-serif;
    font-size: 48px;
    font-weight: bolder;
    padding: 30px 0 0 0;
    color: #f9faf8;  
  }

  .random {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

  }

  .sect-info {
    display: flex;
    justify-content: space-evenly;
  }

  .image-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 40px;
  }

  .quote {
    font-size: 36px;
    font-style: italic;

  }

  .sign-up-one {
    color: #3882F6;
  }

  .section-four {
    position: relative;
    min-height: 10vh
  }

  .call-container {
    padding-bottom: 2.5rem;
  }

  .footer {
    display: flex;
    color: #F9FAF8;
    background-color: #1f2937;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }